html, body {
  height: 100%;
  margin: 0;
  color: black;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
  height: 100%;
}

/* For button hover cursor */
button:hover , li:hover {
  cursor: pointer;
}

/* The side navigation menu */
.dropdownSideMenu {
   overflow: hidden;
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: rgb(247, 246, 243);
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 10px; /* Place content 60px from the top */

}

/* The navigation menu links */
.dropdownSideMenu button, .dropdownSideMenu li {
   display: flex;
   justify-content: flex-start;
   padding: 5px 10px 10px 15px;
   text-decoration: none;
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   overflow: hidden;
   outline:none;
   font-size: 25px;
   color: black;
   transition: 0.3s;
   width: 100%;
}

/* When you mouse over the navigation links, change their color */
.dropdownSideMenu button:hover, .dropdownSideMenu li:hover {
   background-color: rgb(210, 210, 210);
   cursor: pointer;
}

/* Position and style the close button (top right corner) */
.dropdownSideMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the dropdownSideMenu (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .dropdownSideMenu {padding-top: 15px;};
  .dropdownSideMenu a {font-size: 18px;};
}

.a1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px 20px 15px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.3s;
}
.title-sidebar {
  display: flex;
  justify-content: flex-start;
}
.close-btn-sidebar {
  display: flex;
  justify-content: flex-end;
}

#addPage {
  padding-top: 20px;
}

/* For page container padding top */
.page-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
/* For add a page button */
.add-page-button {
}

.page-column {

}

.page-tab-title {
  font-size: 50px;
}

/* Style the tab content */
.tabcontent {
 display: none;
}


.page-name {
  font-size: 50px;
}
.add-page-form {

}
.add-page-input {

}
.active-page {
  background-color: gray;
}
